<!DOCTYPE html>
<html>
  <head>
    <title>FIDO2 Example for LDAP repository</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='spectre-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}">
    <script src="{{ url_for('static', filename='cbor.js') }}"></script>
    <script src="{{ url_for('static', filename='webauthn.js') }}"></script>
  </head>
  <body style="margin: 2%;">
    <h1>Login Page</h1>
    <hr />
    <h3>Login with Username and Password</h3>
    <p>1. First, linking user accout and your authenticator. You can login with username/password: guest/guest</p>
    <form method="POST" action="{{ url_for('login_with_password') }}">
      <div class="columns col-oneline">
        <div class="col-2">
          <label class="form-label" for="username">Username: </label>
        </div>
        <div class="col">
          <input class="form-input" name="username" type="text" placeholder="Username"/>
        </div>
      </div>
      <div class="columns col-oneline">
        <div class="col-2">
          <label class="form-label" for="password">Password: </label>
        </div>
        <div class="col">
          <input class="form-input" name="password" type="password" autocomplete="off" placeholder="Password"/>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Login" />
    </form>

    <hr />
    <h3>Password-less Login</h3>
    <form onsubmit="return login_fido2_username()">
      <div class="columns col-oneline">
        <div class="col-2">
          <label class="form-label" for="username2">Username: </label>
        </div>
        <div class="col">
          <input class="form-input" id="username2" name="username2" type="text" placeholder="Username"/>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Login" />
    </form>

    <hr />
    <h3>Username-less Login</h3>
    <form onsubmit="return login_fido2_rkey()">
      <input class="btn btn-primary" type="submit" value="Login" />
    </form>
  </body>
</html>
